# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Default: https://github.com/orgs/JetBrains-Research/teams/research-engineering-squad
* @JetBrains-Research/research-engineering-squad
